<ul class="breadcrumb">
	<li class="active">관광지 추가</li>
  <!--<li class="active">{{sight.name}}</li>-->
</ul>
<div class="panel panel-default clearfix">
	<div class="panel-body">
		<div class="button-bar">
			<button class="btn btn-warning" ng-click="edit()" ng-hide="editing">수정</button>
			<a href="#/sights" class="btn btn-success" ng-click="save()" ng-show="editing">저장</a>
			<a href="#/sights" class="btn btn-danger" ng-click="cancel()" ng-show="editing">취소</a>
    </div>
		<div class="col-xs-12 col-sm-6 col-md-4 form-offset">
			<div class="form-group">
				<label class="control-label">이름:</label>
				<edit-in-line value="sight.name" editing="editing"/>
			</div>
			<div class="form-group">
				<label>전화번호:</label>
				<edit-in-line value="sight.tel" editing="editing"/>
			</div>
			<div class="form-group">
				<label>소개:</label>
				<edit-in-line value="sight.description" editing="editing"/>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 form-offset">
			<div ng-init="sight={zip:'', address:''}" class="form-group">
				<label class="control-label">주소</label><br>
				<div class="in-line-container">
					<div class="in-line-value" ng-hide="editing">{{sight.zip}}
					</div>
					<input class="in-line-input form-control" ng-show="editing" type="text" ng-model="sight.zip" placeholder="우편번호" />
				</div>
				<div class="in-line-container">
					<div class="in-line-value" ng-hide="editing">{{sight.address}}</div>
					<input class="in-line-input form-control" ng-show="editing" type="text" ng-model="sight.address" placeholder="주소" />
				</div>
				<input type="button" ng-click="search()" ng-show="editing" value="우편번호 찾기"><br>
				<div class="container-fluid" id="wrap" style="display: none; border: 1px solid; margin: 5px 0; position: relative">
					<img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor: pointer; position: absolute; right: 0px; top: -1px; z-index: 1" ng-click="foldDaumPostcode()" alt="접기 버튼">
				</div>
			</div>
			<div class="form-group">
				<label>위치좌표(위도, 경도):</label>
				<ul class="address-lines">
					<li ng-show="editing">
						<edit-in-line value="sight.coordinate.latitude" editing="editing"/>
					</li>
					<li ng-show="editing">
						<edit-in-line value="sight.coordinate.longitude" editing="editing"/>
					</li>
				</ul>
			</div>
			</div>
		<div class="col-xs-12 col-sm-6 col-md-4 form-offset">
			<div class="map-container" ng-show="editing">
				<g-map center="[{{sight.coordinate.latitude}}, {{sight.coordinate.longitude}}]" zoom="{{spot.coordinate.zoom}}"></g-map>
			</div>
		</div>
		</div>
	</div>
</div>